body {font-size: 45px;}
h1 {font-size: 10px;}
h2 {}
#box {color: pink;}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}
html {margin: 40px;
}
@media screen and (min-width: 700px) {
	body {
		background-color: plum;}
	}

.image-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.image-grid figure {
	text-align: center;
}